*{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  /* overflow-x: hidden; */
}
html{
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  background: url("back.jpeg") no-repeat center center/cover;
}

body {
  font-family: sans-serif;
  background: url("back.jpeg") no-repeat center center/cover;
}

.container{
  position: relative;
  background-color: rgb(3, 3, 35);
  opacity: 1;
  background: url("back.jpeg") no-repeat center center/cover;
}

.cont2 {
  margin: 0px 0px;
  padding: 6px;
  clear: both;
  /* background-color: rgb(3, 3, 35); */
  background-color: black;
  opacity: 0.7;
  /* background-color: rgb(13, 13, 1); */
  /* background: url("back.jpeg") no-repeat center center/cover; */
  border-radius: 2px solid black;
  /* border: 2px solid red; */
  top: 0px;
  position: sticky;
  /* display: flex; */
  /* align-items: center; */
  /* flex-direction: column; */
}

.job-postings {
  display: flex;
  flex-direction: row;
  
}

.job-postings li {
  list-style: none;
  padding: 6px;
  font-size: 1.3rem;
}

.job-postings li a{
  color: white;
  display: block;
  padding: 3px 15px;
  border-radius: 20px;
  text-decoration: none;
}
.job-postings li a:hover{
  color: black;
  background-color: white;
  display: block;
  padding: 3px 15px;
  border-radius: 20px;
  text-decoration: none;
}

nav {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.logo {
  float: left;
  margin-right: 0;
}

.logo img {
  width: 50px;
  height: 50px;
}

.right {
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  float: right;
}

.right li {
  display: inline-block;
  margin-left: 10px;
}

.right li img {
  width: 30px;
  height: 30px;
  margin-top: 12px;
}

.right-text {
  margin: 10px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 6px;
  color: blue;
  background-color: rgb(205, 201, 201);
  /* background-color:; */
}

.right-text:hover {
  margin: 10px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 6px;
  color: blue;
  background-color: rgb(154, 152, 152);
  /* background-color:; */
}

a {
  text-decoration: none;
  color: #000;
}

.right li:last-child {
  margin-right: 0;
}

#search {
  margin: 3px;
  float: right;
}

#language {
  margin: 10px;
  float: right;
  font-size: 18px;
}

input {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
}

button {
  background-color: #000;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

#home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 3px 220px; */
  padding: 0px;
  top: 0;
  /* height: 535px; */
  height: 595px;
  width: 100%;
  margin: 0;
  background: url("texture.avif");
  opacity: 0.9;
}
#home::before{
  content: "";
  /* background: url("bgimg.png"); */
  background: url("back.jpeg") no-repeat center center/cover;
   /*starting me ../ isliye lagaya gya bcoz hme sbse pehle css wale folder se bahar nikalna padega.*/
  position: relative;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  z-index: -1;
  text-align: center;
}

#home h1{
 display: inline-block;
position: absolute;
/* position: relative; */
width: 100%;
top: 50;
left: 50%;
transform: translate(-50%, -50%);
z-index: 1;
text-align: center;
font-family: Georgia, serif; 
font-size: 10rem; 
}

#home p{
  /* margin-top: 40px; */
    position: relative;
    /* position: absolute; */
    display: inline-block;
    width: 100%;
  /* top: -50%; */
    /* top: 60%; */
    top: -30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    font-family: cursive;
    font-size: 2rem;
}


#images{
  position: relative;
  height: 544px;
  width: 100%;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0px;
  /* height: 344px; */
}
/* #images::before{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}  */
.item1{
  padding: 14px;
}
#image-items{
  display: flex;
  justify-content: center;
  align-items: center;
}
#image-items img{
  height: 202px;
}

.benefits{
  font-size: 1.3rem;
  padding: 40px;
  margin: 12px;
  font-family: fangsong;
}

.benefits li{
  padding: 12px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.column {
  flex: 1 1 0%;
  max-width: 30%;
  padding: 0 0.5rem;
  /* border: 3px solid rgb(32, 31, 31); */
  /* border-radius: 12px; */
}

img {
  width: 100%;
  height: 280px;
  padding: 2px;
}


/*new part*/

.cont4{
  width: 900px;
  margin-left: 400px;
  /* background-color: pink; */
}

.cont4 h1{
  text-align: center;
  /* margin-top: 12px; */
}

#heading{
  margin-bottom: 18px;
  font-family: "Britannic Bold";
  border-bottom: 2px solid black;
  padding-bottom: 5px;
  /* display: inline-block; */
}

.cont5{
  font-size: 1.2rem;
  /* background-color: rgb(238, 222, 222); */
  background-color: rgb(188, 188, 237);
  width: 200px;
  margin-left: 150px;
  float: left;
  /* margin-bottom: 200px; */
  height: 520px;
  top: 39px;
height: fit-content;
}

.cont5 ul li{
  list-style: none;
  padding: 12px;
  margin-left: 14px;
}

.cont5 ul li:hover{
  list-style: none;
  padding: 12px;
  margin-left: 14px;
  margin-right: 14px;
  color: blue;
  border: 2px solid black;
  border-left: 2px;
  border-right: 2px;
  border-color: #fff;
  border-radius: 9px;
  /* background-color: white; */
  display: block;
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
}

.AboutUs{
  /* border: 2px solid black; */
  /* background-color: pink; */
  padding: 9px;
  margin-top: 20px;
  width: 100%;
  align: center;
  /* height: 200px; */
}

.AboutUs h1{
  border: 2px solid blue;
  /* background-color: rgb(218, 150, 150); */
  background-color: rgb(154, 157, 186);
  width: 200px;
  border-radius: 20px;
  padding: 12px;
  font-family: "Britannic Bold";
  text-align: center;
  cursor: pointer;
  margin-left: 40%;
}

.AboutUs h1:hover{
  border: 2px solid blue;
  /* background-color: rgb(236, 179, 179); */
  background-color: rgb(188, 191, 223);
  width: 200px;
  border-radius: 20px;
  padding: 12px;
  font-family: "Britannic Bold";
  text-align: center;
  cursor: pointer;
}

.AboutUs p {
/*   text-align: center; */
  font-size: 25px;
  margin-top: 12px;
  /* padding: 4px; */
  font-family: fangsong
}

.AboutUs ul li {
  font-size: 23px;
  margin-top: 12px;
  /* padding: 4px; */
  font-family: fangsong
}


/*To make responsive*/


/* Small devices (phones) */
@media screen and (max-width: 600px) {
  .container {
    /* Adjust the container width for small devices */
    width: 100%;
    margin: 0;
  }

  

  /* Adjust the styles for small devices */
  .cont2 {
    flex-direction: column;
    align-items: center;
  }

  .job-postings {
    flex-direction: row;
    align-items: center;
  }

  .logo img {
    width: 40px;
    height: 40px;
  }

  .right {
    position: absolute;
    float: right;
    margin-top: 10px;
    flex-direction: column;
    text-align: center;
  }

  .right li {
    /* display: block; */
    margin-left: 0;
    margin-top: 5px;
    /* text-align: center; */
    cursor: pointer;
  }

  .right li img {
    /* margin-top: 0; */
    width: 25px;
    height: 25px;
  }

  .right-text{
    margin: 5px;
  }

  #home h4{
    text-align: center;
    /* margin-bottom: 12px; */
    /* color: white; */
    font-family: 'Playfair Display', serif;
  }
  /* #language {
    margin: 10px;
    float: none;
    font-size: 18px;
    text-align: center;
  } */

  #search {
    margin: 10px;
    float: none;
    text-align: center;
  }

  input {
    width: 100%;
  }

  .cont4 {
    width: 100%;
    margin-left: 0;
  }

  .cont5 {
    width: 100%;
    margin-left: 0;
    float: none;
    font-size: 1.2rem;
    background-color: rgb(238, 222, 222);
    width: 200px;
    margin-left: 200px;
    float: left;
    /* margin-bottom: 200px; */
    height: 780px;
    display: flex;
    flex-wrap: wrap;
  }

  .cont5 ul{
    padding: 0px;
  }


  .cont5 ul li{
    list-style: none;
    /* padding: 8px; */
    margin-left: 14px;
  }

  .cont5 ul li:hover{
    list-style: none;
    /* padding: px; */
    margin-left: 14px;
    color: blue;
    display: block;
    text-decoration: none;
    cursor: pointer;
  }

  #home::before{
    content: "";
    /* main6.jpg */
    /* background: url("bgimg.png") no-repeat center center/cover;  */
    /*starting me ../ isliye lagaya gya bcoz hme sbse pehle css wale folder se bahar nikalna padega.*/
    background: url("bgimg.png");
    position: relative;
    top: 0px;
    left: 0px;
    height: 800px;
    width: 100%;
    opacity: 0.7;
    z-index: -1;
    text-align: center;
  }

  #home h4{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    text-align: center;
    font-size: 24px;
    /* margin-bottom: 12px; */
    /* color: white; */
    font-family: 'Playfair Display', serif;
  }

    .remove_small{
      visibility: hidden;
      /* height: 0; */
      font-size: 0;
    }

    .AboutUs ul li {
      font-size: 0;
      margin-top: 12px;
      /* padding: 4px; */
      font-family: fangsong
    }

}

/* Medium devices (tablets) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
/* Add specific styles for medium devices if needed */
.container {
  /* Adjust the container width for medium devices */
  width: 100%;
  margin: 0;
}

.cont2 {
  flex-direction: column;
  align-items: center;
}

.job-postings {
  flex-direction: column;
  align-items: center;
}

.right {
  float: none;
  margin-top: 10px;
  text-align: center;
}

.right li {
  display: block;
  margin-left: 0;
  text-align: center;
}

.right li img {
  margin-top: 0;
}

#language {
  margin: 10px;
  float: none;
  font-size: 18px;
  text-align: center;
}

#search {
  margin: 10px;
  float: none;
  text-align: center;
}

input {
  width: 100%;
}

.cont4 {
  width: 100%;
  margin-left: 0;
}

.cont5 {
  width: 100%;
  margin-left: 0;
  float: none;
  height: fit-content;
}

.cont5 ul li{
  list-style: none;
  /* padding: 8px; */
  margin-left: 14px;
}

.cont5 ul li:hover{
  list-style: none;
  /* padding: px; */
  margin-left: 14px;
  color: blue;
  display: block;
  text-decoration: none;
  cursor: pointer;
}
}

